
:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --darker-cyan: hsl(158, 36%, 20%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html,
body{
    height: 100%;
}

body{
    line-height: 1.7;
    -webkit-font-smothing: antialiased; 
}

img,
svg{
    display: block;
    max-width: 100%;
}

button {
font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}

h1,
h2,
h3{
    line-height: 1;
}






body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12;
    color:var(--dark-grayish-blue);
    display: grid;
    place-content: center;
    margin: 16px;
    background-color: var(--cream);
}

.flex-group{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button {
    cursor: pointer;
    text-decoration: none;
    display:inline-flex;
    gap: 12px;
    place-content: center;
    border: 0;
    border-radius: 8px;
    padding-top: 10px;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
}
.button[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url("../images/icon-cart.svg");
    width: 15px;
    height: 16px;
}

.button:is(:hover,:focus){
    background-color: var(--darker-cyan);
}

.product {
    gap: 16px;
    display: grid;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
}

@media (min-width: 768px) {
    .product{
        grid-template-columns: 1fr 1fr;
    }
}

.product__content {
    display: grid;
    gap: 16px;
    padding: 24px;
}
.product__category {
    font-size: 9px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.product__title {
    font-size: 32px;
    font-family: 'Fraunces',serif;
    color: var(--very-dark-blue) ;
}

.product__price {
    font-size: 32px;
    font-family: 'Fraunces',serif;
    color: var(--dark-cyan);
    font-weight: 700;
}

.product__original-price{
    font-size: small;
}